* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

header {
	background-color: black;
}
	header h1 {
		color: white;
	}

nav li {
	background-color: #888;
	color: white;
	padding: 5px 10px;
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: white;
	display: block;
}
nav li:hover a {
	color: yellow;
}


div#map {
	height: 500px;
	width: 100%;
}



/* place
*/

div.section {
	float: left;
	padding: 10px;
	margin-right: 10px;
	background-color: #eee;
	min-height: 200px;
	width: 30%;
}

